<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<header class="header">
    <div class="container">
        <h1 class="logo">MyWebsite</h1>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/add-product" class="nav-link">add prodict</a></li>
                <li class="nav-item"><a href="/products" class="nav-link">All Products</a></li>
            </ul>
        </nav>
    </div>
</header>

<body>
    <h1>Our Products</h1>
    <div class="product-list">
        <% products.forEach(product=> { %>
            <div class="product-card">
                <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
                <h3>
                    <%= product.name %>
                </h3>
                <p>
                    <%= product.description %>
                </p>
                <p class="price">$<%= product.price %>
                </p>

                <form action="/delete-product" method="POST">
                    <input type="hidden" name="productId" value="<%= product.id %>">
                    <button type="submit">Delete</button">
                </form>
            </div>
            <% }); %>
    </div>
</body>
<footer class="footer">
    <div class="container">
        <p>&copy; 2024 MyWebsite. All Rights Reserved.</p>
    </div>
</footer>

</html>